.home-container{
  background: #130933;
  .price-box{
    background: #362478;
    padding: 10px 0;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    .price-item{
      display: flex;
      justify-content: center;
    }
  }
  .filter-box{
    margin: 20px 50px;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    background: #362478;
    border-radius: 10px;
    .recall-box{
      display: flex;
      justify-content: center;
      align-items: center;
      //padding: 30px 0;
    }
    .filter{
      display: flex;
      align-items: center;
    }
  }
  .pagination-box{
    padding: 20px 0;
    display: flex;
    justify-content: center;
  }
  .loading{
    display: flex;
    justify-content: center;
  }
  .hero-list{
    display: flex;
    justify-content: center;
  }
}