.home-container{
  background: #130933;
  .price-box{
    background: #362478;
    padding: 10px 0;
    border-radius: 6px;
    display: flex;
    justify-content: center;
  }
  .pagination-box{
    padding: 20px 0;
    display: flex;
    justify-content: center;
  }
  .loading{
    display: flex;
    justify-content: center;
  }
  .hero-list{
    display: flex;
    justify-content: center;
  }
}