@import '~antd/dist/antd.dark.css';
//@import '~antd/dist/antd.compact.css';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: #130933;
}

.color-white{
  color: #466bf7 !important;
}
.color-purple{
  color: #9954dc !important;
}
.color-orange{
  color: #ff8700 !important;
}
.color-text{
  color: #6ffffa !important;
}
.color-green{
  color: rgba(52, 211, 153, 1) !important;
}
.color-red{
  color: rgba(248, 113, 113, 1) !important;
}
